# Игнорировать папку с контроль версиями Git
.git
.gitignore

# Игнорировать скомпилированные файлы, если они есть локально
*.exe
server

# Файлы IDE
.idea/
.vscode/

# Игнорировать локальные зависимости Go, если они есть
vendor/