# Определяем слаг (slug), который будет использоваться для именования ресурсов.
# Это помогает избежать конфликтов имен и делает ресурсы уникальными.
# Формат: <группа>-<StudentID>-v<вариант>
x-slug: &slug "as-63-220019-v15"

services:
  # --- Сервис нашего Go-приложения ---
  app:
    # Указываем Docker Compose собрать образ из Dockerfile в текущей директории.
    build: .
    # Присваиваем имя и тег собранному образу.
    # Формат: <github_username>/<repo_name>:<tag>
    image: eugenefr0st/rsiot-lab01:stu-220019-v15
    # Задаем имя контейнера с использованием слага.
    container_name: app-as-63-220019-v15
    
    # Пробрасываем порт 8063 с хост-машины на порт 8063 в контейнере.
    ports:
      - "8063:8063"
      
    # Передаем переменные окружения в контейнер.
    # Наш Go-код будет читать эти переменные при старте.
    environment:
      - APP_PORT=8063
      # 'redis' - это имя сервиса redis ниже. Docker Compose обеспечивает их связь по этому имени.
      - REDIS_ADDR=redis:6379
      - STU_ID=220019
      - STU_GROUP=АС-63
      - STU_VARIANT=15
      
    # Указываем, что сервис 'app' зависит от сервиса 'redis'.
    # Это гарантирует, что контейнер redis будет запущен раньше нашего приложения.
    depends_on:
      - redis
      
    # Подключаем контейнер к нашей кастомной сети.
    networks:
      - net-as-63-220019-v15
      
    # Добавляем метаданные к сервису.
    labels:
      org.bstu.owner: "EugeneFr0st"
      org.bstu.student.slug: *slug

  # --- Сервис Redis ---
  redis:
    # Используем готовый легковесный образ Redis из Docker Hub.
    image: redis:7-alpine
    container_name: redis-as-63-220019-v15
    
    # Подключаем именованный том (volume) к папке /data внутри контейнера.
    # Redis хранит свои данные в этой папке. Том обеспечивает сохранность данных
    # даже после остановки или удаления контейнера.
    volumes:
      - data-as-63-220019-v15:/data
      
    # Подключаем Redis к той же сети, что и приложение.
    networks:
      - net-as-63-220019-v15
      
    # Добавляем метаданные.
    labels:
      org.bstu.owner: "EugeneFr0st"
      org.bstu.student.slug: *slug

# --- Определяем ресурсы верхнего уровня ---

# Определяем именованный том для хранения данных Redis.
volumes:
  data-as-63-220019-v15:

# Определяем сеть, через которую будут общаться наши контейнеры.
networks:
  net-as-63-220019-v15: