apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc
  namespace: app11
  labels:
    app: redis
    org.bstu.student.slug: "as-63-220015-v11"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi