apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: app11
  labels:
    app: redis
    org.bstu.student.slug: "as-63-220015-v11"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:7-alpine
        ports:
        - containerPort: 6379
        volumeMounts:
        - name: redis-data
          mountPath: /data
        command: ["redis-server"]
        args: ["--appendonly", "yes"]  # persistence
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
      volumes:
      - name: redis-data
        persistentVolumeClaim:
          claimName: redis-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: app11
spec:
  selector:
    app: redis
  ports:
  - port: 6379
    targetPort: 6379